---
layout: index
---

<div class="col-md-8 bk-color">
  <div class="sed-header">
    <span class="title"><a title="{{ site.title }}" href="{{ site.url }}">{{ site.title }}</a></span>
    <span class="pull-right top-bar">
		<span><a href="{{ site.baseurl }}{{ '/tags' }}" title="分类|标签" rel="nofollow"><span class='fa fa-tags fa-lg'></span></a></span>&nbsp;&nbsp;
		<span><a href="{{ site.baseurl }}{{ '/about' }}" title="关于"><span class='fa fa-user fa-lg'></span></a></span>&nbsp;&nbsp;&nbsp;
	</span>
  </div>

{% for post in paginator.posts %}
  <div class="post-card">
    {% if post.content contains "<!-- more -->" %}
      {{ post.content | split:'<!-- more -->' | first }}
	  <p><a href="{{ site.baseurl }}{{ post.url }}">阅读全文...</a></p>
    {% else %}
      {{ post.content }}
    {% endif %}
	<span class="meta"><i class="fa fa-calendar"></i> {{ post.date | date:"%Y-%m-%d %H:%M" | remove: " 00:00" }}
	{% if post.tags.size >0 %}&nbsp;&nbsp;&nbsp;<i class="fa fa-tags"></i>
	{% for tag in post.tags %}
	&nbsp;&nbsp;<a href="/tags/#{{ tag | cgi_escape | remove: "%" }}">{{ tag }}</a>
	{% endfor %}
	{% endif %}</span>
	<p class="pull-right"><a href="{{ site.baseurl }}{{ post.url }}">查看 </a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ site.baseurl }}{{ post.url }}#ds-thread">评论 </a></p>
  </div>
{% endfor %}

  <!-- Pagination links -->
  <div class="pull-right">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/">首页</a>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/">&laquo; 上一页</a>
    {% else %}
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/">首页</a>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/index{{paginator.previous_page}}/">&laquo; 上一页</a>
    {% endif %}
    {% else %}
    <span><a class="btn btn-primary btn-sm disabled" href="{{ site.baseurl }}/">首页</a></span>
    <span><a class="btn btn-primary btn-sm disabled">上一页</a></span>
    {% endif %}
    <span><a class="btn btn-primary btn-sm disabled">第{{paginator.page}}页(共{{paginator.total_pages}})</a></span>
    {% if paginator.next_page %}
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/index{{paginator.next_page}}/">下一页 &raquo;</a>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/index{{paginator.total_pages}}/">末页</a>
    {% else if paginator.page == paginator.total_pages %}
    <span><a class="btn btn-primary btn-sm disabled">下一页</a></span>
    <span><a class="btn btn-primary btn-sm disabled">末页</a></span>
    {% endif %}
  </div>
</div>
<div class="col-md-4 visible-lg visible-md">
  {% include recently_comments.html %}
</div>
