---
layout: default
---

<style>
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
</style>
<div class="col-md-9">
  <p class="pull-right visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
  </p>
{% for post in paginator.posts %}
  <div class="post-card">
    <h3 class="title"><span class="title-date">{{ post.date | date:"%Y-%m-%d %H:%M" }}</span></h3>
    {% if post.content contains "<!-- more -->" %}
      {{ post.content | split:'<!-- more -->' | first }}
    {% else %}
      {{ post.content | strip_html | truncatewords:50 }}
    {% endif %}
	<br/><a href="{{ site.baseurl }}{{ post.url }}">Leave a comments</a>
  </div>
{% endfor %}

  <!-- Pagination links -->
  <div class="pull-right">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/">首页</a>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/">&laquo; 上一页</a>
    {% else %}
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/">首页</a>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/index{{paginator.previous_page}}/">&laquo; 上一页</a>
    {% endif %}
    {% else %}
    <span><a class="btn btn-primary btn-sm disabled" href="{{ site.baseurl }}/">首页</a></span>
    <span><a class="btn btn-primary btn-sm disabled">&laquo; 上一页</a></span>
    {% endif %}
    <span><a class="btn btn-primary btn-sm disabled">当前页: {{paginator.page}} （共 {{paginator.total_pages}}）</a></span>
    {% if paginator.next_page %}
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/index{{paginator.next_page}}/">下一页 &raquo;</a>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/index{{paginator.total_pages}}/">末页</a>
    {% else if paginator.page == paginator.total_pages %}
    <span><a class="btn btn-primary btn-sm disabled">下一页 &raquo;</a></span>
    <span><a class="btn btn-primary btn-sm disabled">末页</a></span>
    {% endif %}
  </div>
</div>
<aside class="col-md-3 visible-lg visible-md sidebar-offcanvas" id="sidebar">
  {% include recently_comments.html %}
</aside>
