---
layout: base
---

<div class="col-md-8 my-col-wrap">
  {% include sed-header.html %}

{% if paginator.previous_page %}
{% else %}
  {% for post in site.posts %}
    {% if post.sticky %}
	  {% include post-card.html %}
    {% endif %}
  {% endfor %}
{% endif %}
  
{% for post in paginator.posts %}
  {% if post.sticky != true %}
    {% include post-card.html %}
  {% endif %}
{% endfor %}

  <!-- Pagination links -->
  <div class="pull-right">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/">首页</a>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/">&laquo; 上一页</a>
    {% else %}
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/">首页</a>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/index{{paginator.previous_page}}/">&laquo; 上一页</a>
    {% endif %}
    {% else %}
    <span><a class="btn btn-primary btn-sm disabled" href="{{ site.baseurl }}/">首页</a></span>
    <span><a class="btn btn-primary btn-sm disabled">上一页</a></span>
    {% endif %}
    <span><a class="btn btn-primary btn-sm disabled">第{{paginator.page}}页(共{{paginator.total_pages}})</a></span>
    {% if paginator.next_page %}
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/index{{paginator.next_page}}/">下一页 &raquo;</a>
    <a class="btn btn-primary btn-sm" href="{{ site.baseurl }}/index{{paginator.total_pages}}/">末页</a>
    {% else if paginator.page == paginator.total_pages %}
    <span><a class="btn btn-primary btn-sm disabled">下一页</a></span>
    <span><a class="btn btn-primary btn-sm disabled">末页</a></span>
    {% endif %}
  </div>
</div>
<div class="col-md-4 visible-lg visible-md r-aside">
  {% include sidebar.html %}
</div>
