<form class="form-inline">
  <div class="form-group" style="width: 100%;">
    <label class="sr-only" for="search-cont">Search keywords</label>
    <div class="input-group" style="width: 100%;">
      <input type="text" class="form-control" id="search-cont" placeholder="Search...">
      <a class="input-group-addon" href="#">搜索</a>
    </div>
  </div>
</form>

<h2 class="center">标签</h2>
<select class="form-control">
  {% for tag in site.tags %} 
  <option><a href="#tag-{{ tag[0] }}">{{ tag[0] }}&nbsp;({{ tag[1].size }})</a></option>
  {% endfor %}
</select>

<dl class="dl-horizontal">
  {% for tag in site.tags %} 
  <dt><a href="#tag-{{ tag[0] }}">{{ tag[0] }}</a></dt>
  <dd><span class="badge">{{ tag[1].size }}</span></dd>
  {% endfor %}
</dl>

<ul class="list-unstyled">
  {% for tag in site.tags %} 
  <li><a href="#tag-{{ tag[0] }}">{{ tag[0] }}&nbsp;<span class="badge">{{ tag[1].size }}</span></a></li>
  {% endfor %}
</ul>

<div class="my-side-tags">
	<ul class="list-group">
	  {% for tag in site.tags %} 
	  <li class="list-group-item">
		<a href="#tag-{{ tag[0] }}">{{ tag[0] }}</a>
		<span class="badge">{{ tag[1].size }}</span>
	  </li>
	  {% endfor %}
	</ul>
</div>

{% if site.comments.duoshuo.name %}
  <h3 class="title">最新评论</h3>
  <ul class="ds-recent-comments" data-num-items="{{ site.comments.duoshuo.rcomments.num }}" data-show-avatars="{{ site.comments.duoshuo.rcomments.avatar }}" data-show-time="{{ site.comments.duoshuo.rcomments.time }}" data-show-title="{{ site.comments.duoshuo.rcomments.title }}" data-show-admin="{{ site.comments.duoshuo.rcomments.admin }}" data-excerpt-length="{{ site.comments.duoshuo.rcomments.length }}"></ul>
{% endif %}
