<!DOCTYPE html>
<html lang="zh-cn">
  {% include head.html %}

  <body>

    {% include zs-nav.html %}

    <div class="container">

      <div class="row">
        {{ content }}
      </div><!-- /.row -->

    </div><!-- /.container -->

    {% include footer.html %}

	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/twitter-bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ site.baseurl }}{{ site.assets_path }}/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{ site.baseurl }}{{ site.assets_path }}/js/webcore.js"></script>

    {% include baidu-analytics.html %}
    {% if site.comments.duoshuo.name %}
    <!-- duoshuo Begin -->
    <script type="text/javascript">
      var duoshuoQuery = {short_name:"{{ site.comments.duoshuo.name }}"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] ||
        document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
    </script>
    <!-- duoshuo End -->
    {% endif %}
  </body>
</html>
