---
layout: default
---

<div class="nrow-div">
<div class="col-md-12">
<h2 class="title"><time class="small">{{ page.date | date: "%Y.%m.%d" }}</time></h2>
{{ content }}
<ul class="pager">
{% if page.next %}
  <li class="next"><a href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.date | date: "%Y-%m-%d %H:%M" }}">（更新）后一条 &rarr;</a></li>
{% else %}
  <li class="next disabled"><a href="#">（更新）后一条 &rarr;</a></li>
{% endif %}
  
{% if page.previous %}
  <li class="previous"><a  href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ page.previous.date | date: "%Y-%m-%d %H:%M" }}">&larr; （更早）前一条</a></li>
{% else %}
  <li class="previous disabled"><a href="#">&larr; （更早）前一条</a></li>
{% endif %}
</ul>

{% include comments.html %}
</div>
</div>