---
layout: post-lg-p
---

{% include sed-header.html %}

  <div class="post-card">

	{{ content }}
	
	<span class="meta">
	  <i class="fa fa-calendar"></i>
	  {{ page.date | date:"%Y-%m-%d %H:%M" | remove: " 00:00" }}
	{% if page.tags.size >0 %}&nbsp;&nbsp;&nbsp;
	  <i class="fa fa-tags"></i>
	  {% for tag in page.tags %}
	    &nbsp;&nbsp;<a class="func-a" href="{{ site.baseurl }}/tags/#{{ tag | cgi_escape | remove: "%" }}">{{ tag }}</a>
	  {% endfor %}
	{% endif %}
	</span>

  </div>
  <div class="my-pager">
	<ul class="pager">
	{% if page.next %}
	  <li class="previous"><a href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.date | date: "%Y-%m-%d %H:%M" }}">&larr; （更新）前一条</a></li>
	{% else %}
	  <li class="previous disabled"><a href="javascript:void(0);">&larr; （更新）前一条</a></li>
	{% endif %}
	
	{% if page.previous %}
	  <li class="next"><a  href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ page.previous.date | date: "%Y-%m-%d %H:%M" }}">（更早）后一条 &rarr;</a></li>
	{% else %}
	  <li class="next disabled"><a href="javascript:void(0);">（更早）后一条 &rarr;</a></li>
	{% endif %}
	</ul>
  </div>
  {% include comments.html %}