---
layout: post-p
---

{% include sed-header.html %}

<script>


var postList = [
{% for post in site.posts %}
  {% if forloop.last %}
    {"tags": [
	
	{% assign cates = post.path | split:"/" %}
	{% for cate in cates %}
	  {% if forloop.last %}
	  {% else %}
		{% if forloop.index >1 %}
		    {% if forloop.rindex >2 %}
			  "{{ cate }}",
			{% else %}
			  "{{ cate }}"
			{% endif %}
		{% endif %}
	  {% endif %}
	{% endfor %}
	
	
	],"url": "{{ post.url }}"}
  {% else %}
    {"tags": [
	
	{% assign cates = post.path | split:"/" %}
	{% for cate in cates %}
	  {% if forloop.last %}
	  {% else %}
		{% if forloop.index >1 %}
		    {% if forloop.rindex >2 %}
			  "{{ cate }}",
			{% else %}
			  "{{ cate }}"
			{% endif %}
		{% endif %}
	  {% endif %}
	{% endfor %}
	
	
	],"url": "{{ post.url }}"},
  {% endif %}
{% endfor %}
];

alert(postList.length+"ok");
</script>

  <div class="post-card">

	{{ content }}
	{% assign post = page %}
	{% include inner-tag.html %}

  </div>
  {% include pager.html %}
  {% include comments.html %}