---
layout: post-p
---

{% include sed-header.html %}

<script>


var postList = [
{% for post in site.posts %}
  {% if forloop.last %}
    {"tags": [
	
	{% assign cates = post.path | split:"/" %}
	{% for cate in cates %}
	  {% if forloop.last %}
	  {% else %}
		{% if forloop.index >1 %}
		    {% if forloop.rindex >2 %}
			  "{{ cate }}",
			{% else %}
			  "{{ cate }}"
			{% endif %}
		{% endif %}
	  {% endif %}
	{% endfor %}
	
	
	],"url": "{{ post.url }}"}
  {% else %}
    {"tags": [
	
	{% assign cates = post.path | split:"/" %}
	{% for cate in cates %}
	  {% if forloop.last %}
	  {% else %}
		{% if forloop.index >1 %}
		    {% if forloop.rindex >2 %}
			  "{{ cate }}",
			{% else %}
			  "{{ cate }}"
			{% endif %}
		{% endif %}
	  {% endif %}
	{% endfor %}
	
	
	],"url": "{{ post.url }}"},
  {% endif %}
{% endfor %}
];

alert(postList.length+"ok");
</script>

  <div class="post-card">

	{{ content }}
	{% assign post = page %}
	{% include inner-tag.html %}

  </div>
  <div class="my-pager">
	<ul class="pager">
	{% if page.next %}
	  <li class="previous"><a href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.date | date: "%Y-%m-%d %H:%M" }}">&larr; （更新）前一条</a></li>
	{% else %}
	  <li class="previous disabled"><a href="javascript:void(0);">&larr; （更新）前一条</a></li>
	{% endif %}
	
	{% if page.previous %}
	  <li class="next"><a  href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ page.previous.date | date: "%Y-%m-%d %H:%M" }}">（更早）后一条 &rarr;</a></li>
	{% else %}
	  <li class="next disabled"><a href="javascript:void(0);">（更早）后一条 &rarr;</a></li>
	{% endif %}
	</ul>
  </div>
  {% include comments.html %}